<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
  xmlns:c="http://www.springframework.org/schema/c"
  xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<context:annotation-config/>
	<bean id="address" class="com.capg.Java.Address">
       <property name="cityName" value="Hyd"/>
       <property name="stateName" value="Tel"/>
       <property name="countryName" value="India"/>
    </bean>
	
	<bean id="stu" class="com.capg.Java.Student" p:stid="100" p:stname="Sourabh" />
	

</beans>